<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>531611365448-ufpu5cmfut2do9cjiv5u44dahk9nqdlp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.531611365448-ufpu5cmfut2do9cjiv5u44dahk9nqdlp</string>
	<key>API_KEY</key>
	<string>AIzaSyDNCsbQfpIkL3q5QnVh5b3u0pkCY-jn0e0</string>
	<key>GCM_SENDER_ID</key>
	<string>531611365448</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.knust.eagle-eye</string>
	<key>PROJECT_ID</key>
	<string>eagleeye-5f99f</string>
	<key>STORAGE_BUCKET</key>
	<string>eagleeye-5f99f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:531611365448:ios:f1a4614425d6238dafe87d</string>
</dict>
</plist>